[*.{cs,vb}]
dotnet_diagnostic.CA1707.severity = none
dotnet_diagnostic.CA1822.severity = none

# IDE0044: 読み取り専用修飾子を追加します
dotnet_diagnostic.IDE0044.severity = silent

# IDE0044: 読み取り専用修飾子を追加します
dotnet_style_readonly_field = false

# CS0649: フィールド 'IDisposableBase.managedResource' は割り当てられません。常に既定値 null を使用します
dotnet_diagnostic.CS0649.severity = none
