<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>    
    <supportedRuntime version="7.0.0" sku=".NETCoreApp,Version=7.0" />
  </startup>
  


  <configSections>
      <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
         <section name="HaruaConvert.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      </sectionGroup>
    
   </configSections>


  <configuration>
    <runtime>    
 
      <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
        <probing privatePath="G:\Code\HaruaConvert\bin\Release\net7.0-windows10.0.22621.0\dll" />
        <dependentAssembly>
          <assemblyIdentity name="Microsoft.Windows.SDK.NET" publicKeyToken="31bf3856ad364e35" culture="neutral" />


        </dependentAssembly>
      </assemblyBinding>
    </runtime>
  </configuration>
  

  <userSettings>
      <HaruaConvert.Properties.Settings>
         <setting name="設定" serializeAs="String">
            <value>yyyy</value>
         </setting>
      </HaruaConvert.Properties.Settings>
   </userSettings>
</configuration>